$success: rgb(47, 155, 54);
$warning:  rgb(255, 147, 24);
$danger: rgb(210, 74, 63);
$off: rgb(97, 96, 96);
$primary: rgb(0, 0, 0);
$background: rgb(255, 255, 255);
$area:rgba(231, 231, 231, 0.925);

$spacer-width: 40px;

body {
    color: $primary;
    user-select: none;

    /* DISABLE SELECT TEXT */

    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    -ms-overflow-style: none;
    overflow: -moz-scrollbars-none;
    
}

// SCSS GENERALE I COLORI SOLO SOLO DI PROVA

.content {
    height: 100%;
    background-color: black;
    display: flex;
    flex-flow: column;
}
  
  .list {
    position: relative;
    list-style: none;
    margin: 0;
    padding: 0;
    height: 80px;
    font-size: 62px;
    line-height: 1;
    margin-bottom: 24px;
    color: #fff;
  
    .list-item {
      position: absolute;
      top: 0;
      left: 0;
      height: 80px;
      border: 1px solid #f2f2f2;
    }
  }

.main-wrapper {
    height: 90vh;
    background-color: cadetblue;
}

.cibocitta {
    .mode {
        display: inline-block;
        height: 100px;
        width: 100px;
        cursor: pointer;
    }

    .risposta {
        padding-bottom: 20px;
        cursor: pointer;
    }

    #easy {
        background-color: green;
    }

    #hard {
        background-color: red;
    }
}

//APP PROVA HOME
.home {
    .box { 
        height: 60px; 
        width: 60px; 
        background: red; 
      }
    
    .box2 { 
        height: 60px; 
        width: 60px; 
        background: green; 
    }
    
    .cane {
        position:absolute;
        width: 200px;
        height: 80px;
        text-align: center;
        line-height: 80px;
        font-size: 20px;
        color: white;
        border-radius:10px;
        border: 2px solid black;
        background-color: pink;
    }
}

.viewport {
    height: 100%;
}

/*--------
 cultura
------------*/
.cultura{
    .img{
        width: auto;
        height: 55px;
    }
    .main-wrapper{
        .container{
            .text-piatto{
                color: black;
                text-align: center;
                padding: 20px 0;
                text-transform: uppercase;
                font-size: 0.7rem;
                line-height: 20px;
            }
            .elements{
                width: 60%;
                height: fit-content;
                margin: auto;
                display: flex;
            }
            .box-el{
                width: 80px;
                height:60px ;
                background-color: blanchedalmond;
                margin: 2px;
            }
            .cane{
                position: relative;
                top:50vh;
                padding-top: 20px;
                width: 100px;
                height: 100px;
                border-radius: 50%;
                border: 2px solid black;
                background-color: pink;
            }
            .cane2{
                position: absolute;
                top:50vh;
                left: 80vw;
                padding-top: 5px;
                width: 100px;
                height: 100px;
                border-radius: 50%;
                border: 2px solid black;
                background-color: pink;
            }
            height: 100vh;
            background-color:blueviolet;
            .animali-container {
                background-color: chartreuse;
                width: 100%;
                flex-grow : 1;
            }
        }
    }
}  

//APP PIATTO VIRTUALE

.piatto{
    font-family: sans-serif;
    background-color: black;
    color: white;
    text-align: center;
    height: 100vh;
    .over{
       
        position: absolute;
        top: 0;
        z-index: 20;
        visibility:visible;
        width: 100%;
        text-align: center;
        background-color: blanchedalmond;
        animation-name: curtain;
        animation-delay: 1s;
        animation-duration:3s;
        animation-fill-mode: both;
       
        img{
            width: auto;
            height: 100vh;
        }

    }
    .topPart{
        padding: 25px 0;
        margin: 0;
        

        img{
            width: auto;
            height: 450px;
            margin-bottom: 25px;
        }
        .over-vassoio{
            position: absolute;
            top: 0;
            height:450px ;
            width: inherit;
            //border: solid 1px green;

            .dish-1{
                width: 180px;
                height: 180px;
                position: absolute;
                top: 50%;
                left: 50%;
                transform: translate(-222px, -184px);
                border: 1px solid gray;
                background-color: gray;
                opacity: 0.9;
                border-radius: 50%;
               
                /*animation-name: none;
                animation-duration: 2.5s;
                animation-fill-mode: both;*/
                
                img{
                    border-radius: 50%;
                    object-fit: cover;
                    width: 100%;
                    height: 100%;
                }
                
            }
            .dish-2{
                width: 180px;
                height: 180px;
                position: absolute;
                top: 50%;
                left: 50%;
                transform: translate(13px, -184px);
                border: 1px solid gray;
                background-color: gray;
                opacity: 0.9;
                border-radius: 50%;
            }
            .dish-3{
                width: 180px;
                height: 180px;
                position: absolute;
                top: 50%;
                left: 50%;
                transform: translate(-222px, 4px);
                border: 1px solid gray;
                background-color: gray;
                opacity: 0.9;
                border-radius: 50%;
            }
            .dish-4{
                width: 180px;
                height: 180px;
                position: absolute;
                top: 50%;
                left: 50%;
                transform: translate(13px, 4px);
                border: 1px solid gray;
                background-color: gray;
                opacity: 0.9;
                border-radius: 50%;
            }
        }

        .btn-control{ 
            
            width:70px;
            height:70px;
           
            background-position: center; /* Center the image */
            background-repeat: no-repeat; /* Do not repeat the image */
            background-size: contain;
            background-color: transparent;
            border: 0;
        }
        .btn-label{
            margin-top: 5px;
            text-transform: uppercase;
            font-size: 1.05rem;
           
        }
        .cancella{
            background-image: url("/static/piatto_virtuale/cancella.png");
        }
        .fine{
            background-image: url("/static/piatto_virtuale/fine.png");
        }
        h3{
            font-weight: 700;
            color: whitesmoke;
        }
        
    }

    .foodList{
        position: absolute;
        vertical-align: middle;
        padding: 50px 30px;
        height: 100vh;
        width: 100%;
        //border: solid 1px blue;

       
        .slick-slider{
            display: inline-flex;
           
        }
        .slick-arrow{
            background-color: transparent;
            border: 0;
            height: 80px;
            width: 70px;
            font-size: 0;
            margin: 40px auto;
            position: relative;
            top: 70vh;
        }
        .slick-prev{
            background-image:url("/static/general/arrow_sx.png") ;
            background-position: center; /* Center the image */
            background-repeat: no-repeat; /* Do not repeat the image */
            background-size: contain;
            float: left;
        }
        .slick-next{
            background-image: url("/static/general/arrow_dx.png");
            background-position: center; /* Center the image */
            background-repeat: no-repeat; /* Do not repeat the image */
            background-size: contain;
            float: right;
        }

        .slick-list{
            width: 80vw;
            height: 92vh;
            margin: auto;
            top:0;
        
        }
        .slick-track{
            display: flex;
            top: 68vh;
        }

        

        @keyframes example {
           from {top: 0px; }
            to {top: -200px; background-color: white;}
        }
        @keyframes curtain {
            from {top: 0px; }
             to {top: -100vh; opacity: 0.8;}
        }
        
        @keyframes dish-drop {
            from {transform: scale(2); opacity: 0; }
             to {transform: scale(1); opacity: 1;}
        }
    }

    .food-item{
        height: 180px;
        max-width: 180px;
        color: white;
        font-weight: 700;
        position: relative;
        text-transform: uppercase;
        animation-name: none;
        animation-duration:3s;
        animation-fill-mode: both;
        border: solid 1px red ;
        border-radius: 50%;

        .mainName{
            font-size: 1.8rem;
        }
        .secondName{
            font-size: .8rem;
            // position: relative; */
            //bottom: 10px;
        }
    }
    .item-to-move{
        width: inherit;
        position: absolute;
        top: 0;
        opacity: 0;
        width: inherit;
       
    }

}

//APP PIATTO CLONE

.piatto-clone {
    font-family: sans-serif;
    background-color: black;
    color: white;
    text-align: center;
    height: 100vh;
    .over{
       
        position: absolute;
        top: 0;
        z-index: 20;
        visibility:visible;
        width: 100%;
        text-align: center;
        background-color: blanchedalmond;
        animation-name: curtain;
        animation-delay: 1s;
        animation-duration:3s;
        animation-fill-mode: both;
       
        img{
            width: auto;
            height: 100vh;
        }

    }
    .topPart{
        padding: 25px 0;
        margin: 0;
        

        img{
            width: auto;
            height: 400px;
            margin-bottom:30px;
        }
        .over-vassoio{
            position: absolute;
            top: 0;
            height:400px ;
            width: inherit;
            //border: solid 1px green;
            .dish{
                width: 162px;
                height: 162px;
                position: absolute;
                top: 50%;
                left: 50%;
                border: 1px solid gray;
                background-color: gray;
                border-radius: 50%;
            }
            
            #dish-1{ 
                transform: translate(-200px, -165px);
                opacity: 0.9;
            }
            
            #dish-2{
                transform: translate(9px, -165px);
                opacity: 0.9; 
            }
            #dish-3{
                transform: translate(-200px, 2px);
                opacity: 0.9;
            }
            #dish-4{
                transform: translate(9px, 2px);
                opacity: 0.9;  
            }
        }

        .btn-control{ 
            
            width:70px;
            height:70px;
           
            background-position: center; /* Center the image */
            background-repeat: no-repeat; /* Do not repeat the image */
            background-size: contain;
            background-color: transparent;
            border: 0;
        }
        .btn-label{
            margin-top: 5px;
            text-transform: uppercase;
            font-size: 1.05rem;
           
        }
        .cancella{
            background-image: url("/static/piatto_virtuale/cancella.png");
        }
        .fine{
            background-image: url("/static/piatto_virtuale/fine.png");
        }
        h3{
            font-weight: 700;
            color: whitesmoke;
        }
        
    }
    .carousel {
        margin-top: 4vh;
        height: 25vh;

        #left{
            background-color: transparent;
            border:0;
            background-image:url("/static/general/arrow_sx.png") ;
            background-position: center; /* Center the image */
            background-repeat: no-repeat; /* Do not repeat the image */
            background-size: contain;
            height: 75px;
            width:8vw;
            outline: none;
           
        }
        #right{
            background-color: transparent;
            border:0;
            background-image:url("/static/general/arrow_dx.png") ;
            background-position: center; /* Center the image */
            background-repeat: no-repeat; /* Do not repeat the image */
            background-size: contain;
            height: 75px;
            width:8vw;
            outline: none;
           
        }
    }

    #clone-container {
        body {
            background-color: #eee;
            height: 100vh;
            margin: 0;
            position: relative;
            overflow: hidden;
          }
          
          * {
            box-sizing: border-box;
          }
          
          main {
            position: absolute;
            top: 0;
            right: 0;
            bottom: 0;
            left: 0;
            display: flex;
            flex-direction: column;
            user-select: none;
          }
          
          #drop-panel {
            min-height: 200px;
            background: white;
            padding: 10px;
            margin: 10px;
          
            header {
              padding-left: 10px;
              font-size: 12px;
            }
          }
          
          .content-clone {
            flex: 1;
          }
          
          #scroll-box {
            white-space: nowrap;
            overflow-x: scroll;
            -webkit-overflow-scrolling: touch;
            scroll-snap-type: x mandatory;  
            scroll-snap-align: start;
          }
    
          #scroll-box::-webkit-scrollbar {
              display: none;
          }
          
          #tile-container {
            display: inline-flex;
          }
          
          .tile-wrapper {
            width: 0;
            height: 165px;
            display: inline-flex;
            align-items: center;
            justify-content: center;
            position: relative;
          }
          
          .tile {
            background-color: mediumvioletred;
            color: #fafafa;
           // display: flex;
            align-items: center;
            justify-content: center;
           // font-size: 1.8rem;
            text-transform: uppercase;
            font-weight: 700;
            position: relative;
            width: 165px;
            min-width: 165px;
            height:165px;
            overflow: hidden;
            border-radius: 50%;
            padding: 10px;

            img{
                height: 50%;
            }
            .mainName{
                font-size: 1.5rem;
            }
            .secondName{
                font-size: .7rem;
                // position: relative; */
                //bottom: 10px;
            }
          
            &.clone {
              position: absolute;
              opacity: 0;
              visibility: hidden;
            }
          
            &.dropped {
              background: cornflowerblue;
            }
          }   
    }
    
    .arrow {
        padding-top: 40px;
        padding-bottom: 40px;
       
        outline: none;
    }
    
    .left {
        float: left;
    }
    
    .right {
        float: right;
    }
   
    
    .foodList{
        position: relative;
        vertical-align: middle;
        padding: 50px 30px;
        height: 100vh;
        width: 100%;
        //border: solid 1px blue;

       
        
        .slick-slider{
            display: inline-flex;
           
        }
        .slick-arrow{
            background-color: transparent;
            border: 0;
            height: 80px;
            width: 70px;
            font-size: 0;
            margin: 40px auto;
            position: relative;
            top: 70vh;
        }
        .slick-prev{
            background-image:url("/static/general/arrow_sx.png") ;
            background-position: center; /* Center the image */
            background-repeat: no-repeat; /* Do not repeat the image */
            background-size: contain;
            float: left;
        }
        .slick-next{
            background-image: url("/static/general/arrow_dx.png");
            background-position: center; /* Center the image */
            background-repeat: no-repeat; /* Do not repeat the image */
            background-size: contain;
            float: right;
        }

        .slick-list{
            width: 80vw;
            height: 92vh;
            margin: auto;
            top:0;
        
        }
        .slick-track{
            display: flex;
            top: 68vh;
        }

        

        
    }
    .container-food-item{
        margin: 0 15px;
    }

    .food-item{
        height: 180px;
        width: 180px;
        color: white;
        font-weight: 700;
        position: relative;
        text-transform: uppercase;
        animation-name: none;
        animation-duration:3s;
        animation-fill-mode: both;
        border: solid 1px red ;
        border-radius: 50%;              
        

        .mainName{
            font-size: 1.8rem;
        }
        .secondName{
            font-size: .8rem;
            // position: relative; */
            //bottom: 10px;
        }
    }
    .item-to-move{
        width: inherit;
        position: absolute;
        top: 0;
        opacity: 0.1;
        background-color: rgb(47, 155, 54);
        width: 180px;
       
    }
    
    @keyframes example {
        from {top: 0px; }
         to {top: -200px; background-color: white;}
     }
     @keyframes curtain {
         from {top: 0px; }
          to {top: -100vh; opacity: 0.8;}
     }
     
     @keyframes dish-drop {
         from {transform: scale(2); opacity: 0; }
          to {transform: scale(1); opacity: 1;}
     }
}


// clone 
.clone-piramide {
    height: 100vh;
    background-color: black;

    #over {  
        position: absolute;
        top: 0;
        z-index: 20;
        visibility:visible;
        width: 100%;
        text-align: center;
        background-color: blanchedalmond;

        #name-game {
            position: absolute;
            width: 30%;
            top: 10%;
            left: 10%;
            background-color:#98bc1f;
            color: white;
        }
          
        #name-game:after {
            content: "";
            display: block;
            padding-bottom: 100%;
        }

        #start-game {
            position: absolute;
            width: 30%;
            height: 10%;
            top: 60%;
            left: 10%;
            background-color: #f59d08;
            color: white;
            font-size: 5vh;
            cursor: pointer;
        }
       
        img{
            width: auto;
            height: 100vh;
        }
    }

    #over-ending {  
        position: absolute;
        top: 0;
        opacity: 0;
        z-index: -2;
        visibility:visible;
        width: 100%;
        text-align: center;
        background-color: azure;
        height: 100%;
    }

    .topright {
        position: absolute;
        top: 16px;
        right: 16px;
        font-size: 18px;
        width: 100px;
        height: 100px;
        background-image: url('/static/piramide/cancella.png');
        background-size: contain;
        cursor: pointer;
    }

    .piramide-cont {
        height: 75vh;
        width:100%;
    }

    .carousel {
        height: 25vh;

        #left{
            background-color: transparent;
            border:0;
            background-image:url("/static/general/arrow_sx.png") ;
            background-position: center; /* Center the image */
            background-repeat: no-repeat; /* Do not repeat the image */
            background-size: contain;
            height: 75px;
            width:8vw;
            outline: none;
           
        }
        #right{
            background-color: transparent;
            border:0;
            background-image:url("/static/general/arrow_dx.png") ;
            background-position: center; /* Center the image */
            background-repeat: no-repeat; /* Do not repeat the image */
            background-size: contain;
            height: 75px;
            width:8vw;
            outline: none;
           
        }
    }

    #clone-container {
        body {
            background-color: #eee;
            height: 100vh;
            margin: 0;
            position: relative;
            overflow: hidden;
          }
          
          * {
            box-sizing: border-box;
          }
          
          main {
            position: absolute;
            top: 0;
            right: 0;
            bottom: 0;
            left: 0;
            display: flex;
            flex-direction: column;
            user-select: none;
          }
          
          #drop-panel {
            min-height: 200px;
            background: white;
            padding: 10px;
            margin: 10px;
          
            header {
              padding-left: 10px;
              font-size: 12px;
            }
          }
          
          .content-clone {
            flex: 1;
          }
          
          #scroll-box {
            white-space: nowrap;
            overflow-x: scroll;
            -webkit-overflow-scrolling: touch;
            scroll-snap-type: x mandatory;  
            scroll-snap-align: start;
          }
    
          #scroll-box::-webkit-scrollbar {
              display: none;
          }
          
          #tile-container {
            display: inline-flex;
          }
          
          .tile-wrapper {
            width: 0;
            height: 130px;
            display: inline-flex;
            align-items: center;
            justify-content: center;
            position: relative;
          }
          
          .tile {
            color: #fafafa;
            display: flex;
            align-items: center;
            justify-content: center;
            font-size: 24px;
            position: relative;
            width: 120px;
            min-width: 120px;
            height:120px;
            overflow: hidden;
            cursor: pointer;
            border-radius: 50%;
          
            &.clone {
              position: absolute;
              opacity: 0;
              visibility: hidden;
              cursor: default !important;
            }

            img {
                height: 60px;
                width: auto;
            }
          }   
    }
    
    .arrow {
        padding-top: 40px;
        padding-bottom: 40px;
        padding-left: 30px;
        padding-right: 30px;
        outline: none;
    }
    
    .left {
        float: left;
    }
    
    .right {
        float: right;
    }

    .piramide-section {
        width: 100%;
        height: 16%;
        background-color: blanchedalmond;
        opacity: 0.5;
        margin-bottom: 1px; 
    }

    .section-container {
        position: relative;
        vertical-align: middle;
    }

    #cane {
        height: auto;
        width: 60%;
        padding-top: 5%;
    }

    // RIGHT BLOCKS

    .right6 {
        position: absolute;
        width: 30%;
        height: 8.5%;
        bottom: 3.2%;
        left: 26%;
        background-color: red;
        color: white;
    }

    .right5 {
        position: absolute;
        width: 25%;
        height: 12.5%;
        bottom: 12.2%;
        left: 28%;
        background-color: red;
        color: white;
    }

    .right4 {
        position: absolute;
        width: 22%;
        height: 9.7%;
        bottom: 25.5%;
        left: 29.5%;
        background-color: red;
        color: white;
    }

    // LEFT BLOCKS

    .left1 {
        position: absolute;
        width: 29%;
        height: 9.7%;
        top: 15%;
        right: 25.5%;
        background-color: red;
        color: white;
    }

    .left3 {
        position: absolute;
        width: 27%;
        height: 11.7%;
        top: 25%;
        right: 26.5%;
        background-color: red;
        color: white;
    }

    // GENERAL BLOCKS
    
    .blocks {
        opacity: 0.5;
    }
}